@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  text-align: center;
  transition: all .2s;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #2cb898;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

hr {
  font-weight: bold;
  height: 3px;
  background: #121212;
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  gap: .5rem;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 0px;
  border:solid 1px #2cb898;
  cursor: pointer;
  font-size: 50px;
  background: #f7f7f7;
  outline: none;
  border-radius: 10px;
}

.container, .container-settings{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  height: 100vh;
  width: 25vw;
  padding: 5rem 1rem;
}

.settings-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px gray;
}

#open-settings-btn:hover{
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.settings-box{
  /* height: 0px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 4px;
  gap: .5rem;
  display: none;
}

.settings-btn img{
  width: 35px;
}

.settings-box button{
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
}

.settings-box button img{
  width: 30px;
  height: 30px;
}

.box-active{
  display: flex;
  animation: slideInDown;
  transition: linear;
}

.btn1{
  transition-delay: .2s;
}

.btn2{
  transition-delay: .5s;
}